*
{
	font-family: Roboto;
}

body
{
	background-color: #1d1e20;
}

.container
{
	margin-left: auto;
	margin-right: auto;
}

.heading
{
	margin-top: 8px;
	font-size: 35px;
	color: white;
	margin-left: 70px;
	margin-bottom: 10px;
}

.line 
{
	height: 1px;
	background: #333436;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.right_box
{
	height: 25px;
	width: 150px;
	background: #272829;
	border-radius: 3px;
	margin: 0px 70px 0px auto;
	font-size: 12px;
	color: #3f4447;
	text-align: center;
	line-height: 26px;
}

.about
{
	color: white;
	font-size: 16px;
	margin-left: 70px;
	margin-bottom: 10px;
	position: fixed;
	bottom: 160px;
}

.youtube_channel
{
	color: white;
	font-size: 16px;
	margin-left: 70px;
	margin-bottom: 10px;
	position: fixed;
	bottom: 120px;
}

.projects
{
	color: white;
	font-size: 16px;
	margin-left: 70px;
	margin-bottom: 10px;
	position: fixed;
	bottom: 80px;
}

.links
{
	color: white;
	font-size: 16px;
	margin-left: 70px;
	margin-bottom: 10px;
	position: fixed;
	bottom: 40px;
}

a
{
	color: white;
	text-decoration: none;
}

a:hover
{
	color: #555;
}

footer
{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 15px;
	color: #3f4447;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}
