*
{
	font-family: Roboto, Calibri;
}

body
{
	background-color: #1d1e20;
}

.container
{
	margin-left: auto;
	margin-right: auto;
}

.profile_picture
{
	width: 150px;
	margin-top: 0px;
	margin-right: 20px;
	margin-left: 100px;
	border-radius: 3px;
	float: left;
}

.text
{
	margin-top: 0px;
	margin-right: 100px;
	margin-left: 100px;
	color: white;
}

footer
{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 15px;
	color: #272829;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}